<nav class="side-navbar">
  <div class="side-navbar-wrapper">
    <div class="sidenav-header d-flex align-items-center justify-content-center">
      <div class="sidenav-header-inner text-center"><img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACgAAAAoCAIAAAADnC86AAAACXBIWXMAAAsTAAALEwEAmpwYAAAAB3RJTUUH3wwJCB8v/9zErgAAABl0RVh0Q29tbWVudABDcmVhdGVkIHdpdGggR0lNUFeBDhcAAAAvSURBVFjD7c0BDQAACAMgtX+KJzWGm4MCdJK6MHVELBaLxWKxWCwWi8VisVj8MV7qBgI2A8rYpgAAAABJRU5ErkJggg==" alt="person" class="img-fluid rounded-circle">
        <h2 class="h5">User</h2><span>Type</span>
      </div>
      <div class="sidenav-header-logo"><a href="index.html" class="brand-small text-center"> <img src="/assets/img/ca-logo.svg" alt=""></a></div>
    </div>
    <div class="main-menu">
      <h5 class="sidenav-heading">Menu</h5>
      <ul id="side-main-menu" class="side-menu list-unstyled">
        <li><a [routerLink]="['/home']"> <i class="icon-home"></i>Option</a></li>
      </ul>
    </div>
  </div>
</nav>
